TURSO_DATABASE_URL=libsql://mini-crm-jcbjhnsn98.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzA1OTQyNTksImlkIjoiOGIyZTQzNjYtZmFkNC00N2NjLTg2NDUtNzE0M2EyMDBjMWRhIiwicmlkIjoiNTE2NzA4Y2QtZDIyOS00MjI3LTgyMzktMzk2NjdkNzJhYWFmIn0.irXhyDXgMgrai9Bbk2sxxMJGITMEC8PH-h5C9FuYT7Sw60ojn5LxgcN9JNHhlP04nUoWtUY6j9FcBh6HRbfTCg
OPENAI_API_KEY=
